.jumbotron {
  padding-top: 5rem;
  background-color: #bde0fe;
}

#about {
  background-color: #48cae4;
}

#projects {
  background-color: #bde0fe;
}

#contact {
  background-color: #48cae4;
}
section {
  padding-top: 5rem;
}
